@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body {
  font-family: 'Lora', serif;
  background-color: #114b5f;
}

@theme {
  --color-primary: #028090;
  --color-secondary: #114b5f;
  --color-accent: #456990;
  --color-text: #f0f0f0;
}